*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.contaner{
    width: 100%;
    height: 100vh;
    background-image: url(minecraft-ios.jpg);
   
    background-position: center;
   
}


.contaner nav{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 8%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.7);
}

.contaner nav .logo img{
    width: 170px;
    margin-top: 12px;
    padding-bottom: 6px;
    cursor: pointer;
  
    
}

.contaner nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    
    
}

.contaner nav ul li a{
    text-decoration: none;
    color: rgb(11, 236, 187);
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s;
    background-color: gray;
  
}

.contaner nav ul li a:hover{
    color:aqua;
    background-color:rgba(0, 0, 0, 0.203);

}

.contaner nav .btn a{
    text-decoration: none;
    color: rgba(6, 244, 129, 0.977);
    font-size: 19px;
    font-weight: 600;
    
    padding: 10px 23px;
    transition: 0.3s;
}

.contaner nav .btn a:hover{
    background:#eaeaea;
    color: black;
}
.end_page{
    width: 100%;
    height: 10%;
    background-size: cover;
    background-position: center;
    
}

.end_page h1{
    text-align: center;
    top: 40%;
    color: white;
    width: 200px;
    font-weight: bold;
    margin-top: 70px;
    font-size: 40px;

}
.end_page p{
    color: rgb(12, 12, 12);
    background-color: #eaeaea;
    font-size: 25px;
    text-align: left;
    margin-bottom: 50px;
    line-height: 70px;
    
}


.end_page .download_app{
    display: flex;
    justify-content:center;
    position: relative;
    top: 10px;
    cursor: pointer;
  
}

.end_page .download_app img{
    width: 140px;
    margin: 20px;
    
}

.end_page .download_app img:hover{
    box-shadow: 0 0 10px rgba(228,226,226);
}
